<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
         
    <context:annotation-config />

	<context:component-scan base-package="com.springmvclearn.controller" />
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	    <property name="cacheSeconds" value="0" />  
        <property name="messageConverters">  
            <list>  
                <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>  
            </list>  
        </property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/WEB-INF/views/login/*.jsp" />
			<mvc:mapping path="/WEB-INF/views/crowdhome/*.jsp" />
			<mvc:mapping path="/crowdhome.do" />	
			<!-- <mvc:exclude-mapping path="/register.do"/> --> 		
			<bean class="com.springmvclearn.interceptor.Authority" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	
		<mvc:interceptors>
			<bean class="com.springmvclearn.interceptor.Authority" />
	</mvc:interceptors>
</beans>